.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#world {
  position: relative;
  background-color: green;
  width: 1024px;
  height: 768px;
  overflow: hidden;
}

#kesi {
  background-image: url(/sprites.png);
  width: 32px;
  height: 32px;
  background-position-x: 64px;
  position: relative;
}

.facing-south {
  background-position-y: 128px;
}
.facing-west {
  background-position-y: 96px;
}
.facing-east {
  background-position-y: 64px;
}
.facing-north {
  background-position-y: 32px;
}